<!doctype html>
{% load forms_builder_tags %}
<head>
    <meta charset="utf-8">
    <title>{{ form.title }}</title>
    <style>
        form fieldset {
          margin-bottom: 10px;
        }
        form label {
          display: inline-block;
        }
        form fieldset li {
          list-style: none;
          padding: 5px;
        }
        form label {
          width: 200px; /* Width of labels */
        }
        .errorlist {color:#f00;}
    </style>
</head>
<body>
    {% render_built_form form %}
</body>
