    <h1>{{ form.title }}</h1>
    {% if form.intro %}
    <p>{{ form.intro }}</p>
    {% endif %}
    {{ form_for_form.media }}
    <form action="{{ form.get_absolute_url }}" method="post"
        {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}

        {% if form_for_form.non_field_errors %}
        <div class="form_errors">
          {% for err in form_for_form.non_field_errors %}
          <div class="form_error_message">{{ err }}</div>
          {% endfor %}
        </div>
        {% endif %}
        {% for hidden in form_for_form.hidden_fields %}
           {{ hidden }}
        {% endfor %}

        {% for section, fields in form_for_form.fieldsets.items %}
            <fieldset>
                {% if section %}<legend>{{ section.title }}</legend>{% endif %}
                <ul>

                    {% for field in fields %}
                      <li {% if field.errors %}class="field_error"{% endif %}>
                        <span>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</span>
                        {{ field }}
                        {% for err in field.errors %}
                        <span class="error_message">{{ err }}</span>
                        {% endfor %}
                      </li>
                    {% endfor %}
                </ul>
            </fieldset>
        {% endfor %}

        <div style="clear:left;">&nbsp;</div>
        <input type="submit" value="{{ form.button_text }}">
    </form>
